---
import { getCollectionById } from 'storefront:client';
import { z } from 'zod';
import ArtworkCollection from '~/components/ArtworkCollection/ArtworkCollection.tsx';
import TitleHeader from '~/components/TitleHeader.astro';
import CheckboxLink from '~/components/ui/CheckboxLink.astro';
import { applyDefaultCacheHeaders } from '~/config.ts';
import PrimaryLayout from '~/layouts/PrimaryLayout.astro';
import SideColumnLayout from '~/layouts/SideColumnLayout.astro';
import { unwrap } from '~/lib/util.ts';

const searchParams = Object.fromEntries(Astro.url.searchParams);

applyDefaultCacheHeaders(Astro.response.headers);

const collectionId = unwrap(Astro.params.collection, 'Collection param not found');
const collectionResponse = await getCollectionById({
	path: { id: collectionId },
});

if (collectionResponse.error) {
	return Astro.redirect('/');
}

const collection = collectionResponse.data;
const sort = z.enum(['price', 'title']).optional().parse(searchParams.sort);
const order = z.enum(['asc', 'desc']).optional().parse(searchParams.order);
---

<PrimaryLayout title={`Giving Arts - for Appalachia | ${collection.name}`}>
	<TitleHeader title="Discover Art That Makes a Difference" />
	<div class="pt-10">
		<div class="prose prose-gafacolors max-w-none">
			<h4 class="mt-0">
				Explore a curated collection of artworks donated by artists passionate about supporting
				Appalachia.
			</h4>
			<p class="m-auto pb-10">
				Each piece in our gallery represents not just artistic expression but also an opportunity to
				provide direct aid to those in need. By pledging the value of an artwork to a cause of your
				choice, you can acquire a beautiful piece while making a meaningful impact.
			</p>
		</div>
		<SideColumnLayout class="flex flex-wrap gap-4">
			<div slot="aside" class="flex flex-col gap-4 py-4">
				<header>
					<h2 class="text-2xl font-bold">
						{collection.name}
					</h2>
					<p class="text-sm font-medium text-slate-600">
						<!-- {products.length} artworks -->
					</p>
				</header>
				<nav class="flex flex-col gap-2" aria-labelledby="sort-by-heading">
					<h3 id="sort-by-heading" class="font-semibold">Sort by</h3>
					<ul class="contents">
						<li>
							<CheckboxLink href={`?sort=price&order=asc`} label="Price: Low to High" />
						</li>
						<li>
							<CheckboxLink href={`?sort=price&order=desc`} label="Price: High to Low" />
						</li>
						<li>
							<CheckboxLink href={`?sort=title&order=asc`} label="Title: A-Z" />
						</li>
						<li>
							<CheckboxLink href={`?sort=title&order=desc`} label="Title: Z-A" />
						</li>
					</ul>
				</nav>
			</div>

			<section
				slot="main"
				class="grid grid-cols-[repeat(auto-fill,minmax(16rem,1fr))] gap-4"
				aria-labelledby="products-heading"
				aria-label="Products">
				<ArtworkCollection
					sort={sort}
					order={order}
					collection={collection.id}
					client:only="solid-js"
				/>
			</section>
		</SideColumnLayout>
	</div>
</PrimaryLayout>
