---
import sm from '~/assets/hero-banner-xl.jpg';
import md from '~/assets/hero-banner-xl.jpg';
import lg from '~/assets/hero-banner-xl.jpg';
import xl from '~/assets/hero-banner-xl.jpg';
import twoXl from '~/assets/hero-banner-2xl.jpg';
import { button } from '~/styles.ts';

export interface Props {
	hideCTA?: boolean;
}
---

<header
	class="breakout focus-ring-light relative h-[384px] max-h-dvh content-end justify-items-start gap-y-4 bg-black py-8 text-white md:h-[512px] md:gap-y-8 md:bg-bottom">
	<picture>
		<source srcset={sm.src} media="(max-width: 640px)" />
		<source srcset={md.src} media="(max-width: 768px)" />
		<source srcset={lg.src} media="(max-width: 1024px)" />
		<source srcset={xl.src} media="(max-width: 1280px)" />
		<source srcset={twoXl.src} media="(min-width: 1281px)" />
		<img
			src={twoXl.src}
			alt=""
			class="breakout absolute inset-0 size-full object-cover object-center"
		/>
	</picture>
	{
		!Astro.props.hideCTA && (
			<div class="relative m-auto flex gap-4">
				<a href="/collections/all">
					<button class={button({ theme: 'dark', className: 'font-bold md:h-12 md:text-lg' })}>
						Browse artworks
					</button>
				</a>
				<a href="/donate">
					<button class={button({ theme: 'dark', className: 'font-bold md:h-12 md:text-lg' })}>
						Join as an artist
					</button>
				</a>
			</div>
		)
	}
</header>
